html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cooper Black', 'Comic Sans MS', sans-serif;
    font-size: 16px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border: dashed black 1px;
	box-shadow: 4px 4px 1px 0px #8CD5F5;
}

.wheres {
    color: #00b0f3;
    /* text-shadow:
            1px 1px 0 ,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            0 0 1px black; */
    margin-top: 0.3rem;
    margin-left:  0.5rem;
    margin-bottom: 0.3rem;
}

.waldo {
    color: #ff2216;
    /* text-shadow:
            1px 1px 0,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            0 0 1px black; */
    margin-top: 0.3rem;
    margin-right:  0.5rem;
    margin-bottom: 0.3rem;
}



main {
    flex: 1;
    padding: 1rem;
    background-color: #ffffff;
}

footer {
    background-color: #252525;
    color: white;
    padding: 1rem;
}